:root {
    --ax-black: #000000;
    --ax-bone: #faf5f0;
    --ax-coal: #181818;
    --ax-clay: #706e66;
    --ax-earth: #40372a;
    --ax-gold: #ab916c;
    --ax-parchment: #e6e1d7;
    --ax-slate: #202020;
    --ax-stone: #d2cdbe;
    --ax-sea: #192e33;
    --ax-soot: #37332f;
    --ax-white: #ffffff;
    --ax-wine: #5a141e;

    --ax-linear-gold: linear-gradient(#7e7165, #634b35);

    --ax-ease: cubic-bezier(0.75, 0, 0.25, 1);
}

.axeom {
    --rep-revered: #3c005e;
    --rep-admired: #171f69;
    --rep-liked: #3a7b59;
    --rep-ignored: #545469;
    --rep-disliked: #323232;
    --rep-hated: #2b0000;
    --rep-hunted: #5e0000;
}
